@model IEnumerable<JXDevPlanner.Models.AccountListItem>
@{
    ViewBag.Title = "ListUsers";
}

<h2>ListUsers</h2>

<table class="table">
    <tr>
        <th>UserID</th>
        <th>UserName</th>
        <th>Roles</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserID</td>
            <td>@item.UserName</td>
            <td>@item.RolesString</td>
            <td>
                <a href="/Role/AddRoleToUser?userID=@item.UserID">Add Role</a> | 
                <a href="/Role/RemoveRoleFromUser?userID=@item.UserID">Remove Role</a> | 
                <a href="/Role/CreateAndAssign?userID=@item.UserID">Create Role</a>
            </td>
        </tr>
    }
</table>
